@font-face {
	font-family: Inter;
	src: url(".fonts/Inter-VariableFont_opsz,wght.ttf");
}

body {
	font-family: "Inter", sans-serif;
	background-color: black;
	color: white;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#works {
	border-radius: 10px;
	border-color: #ffffff;
	border-width: 10px;
	inline-size: 550px;
	margin-block-end: 1em;
	overflow-wrap: break-word;
	hyphens: manual;
	margin-bottom: 1em;
}

#bio {
}

section > h3:hover {
	text-decoration: underline;
}
article {
	margin-bottom: 10em;
}
legend {
	text-decoration: bold;
}
progress {
	accent-color: black;
	transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.ascii {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
	padding: 10px;
	line-height: 0.9; /* Adjust based on art density */
	color: midnightblue;
}
